*.doc
*.docx
*.jl.*.cov
*.jl.cov
*.jl.mem
*_raw.jl
*.nc
*_tmp.jl
*.bson
*.zarr
*.tar
*.tar.gz
*.zip
*.rar
*.out
*.log
*logs
*.dat
*.tmp
*.txt
*.csv
*.CSV
*.e
*.jld2
*.jld
*.o
*.mem
*.png
*.jpg
*.svg
*.pdf
*.pkl
*.PDF
*.ppt
*.pptx
*.xls
*.xlsx
.*
~*
*_tmp
tmp_*
tmp*
output_*
*Manifest.toml
*/Manifest.toml
*/*/Manifest.toml
/*/*/*/Manifest.toml

/Manifest.toml
examples/Manifest.toml
examples/*/Manifest.toml
docs/Manifest.toml
lib/*/Manifest.toml
lib/Manifest.toml
README.md
GettingStarted.md
examples/data/
docs/build/
build/
__pycache__

.vscode
.gitlab-ci.yml
.DS_Store
node_modules
package-lock.json
!docs/src/assets/logo.png
!docs/src/assets/logo-RnD.png
!docs/src/assets/sindbad_logo.png
!docs/src/assets/sindbad_info.png
!docs/src/assets/sindbad_package_dependency.png
!.vitepress
!logo_mpi_grey.png
!.github
.qodo
